<!doctype html>
<html lang="ko">
<head>
  <title>PUBSR{% if subTitle %} - {{ subTitle }}{% elseif title %} - {{ title }}{% endif %}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="theme-color" content="#4285f4" />
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3, user-scalable=no" />
  <link rel="stylesheet" href="{{ site.dir }}/css/common.css" />
  <link rel="stylesheet" href="{{ site.dir }}/css/csr.css" />
  <link rel="stylesheet" href="{{ site.dir }}/css/respond.css" />
  <link rel="stylesheet" href="{{ site.dir }}/css/fonts.css" />
  <script src="{{ site.dir }}/static/vendor/jquery/jquery.min.js"></script>
  <script src="{{ site.dir }}/js/csr.js"></script>

  {# 페이지별 head 추가 블록 #}
  {% block head_extra %}
  {% endblock %}
</head>

<body>
  {# 페이지 내용 출력 #}
  <div id="wrap">
    {% include "components/header.njk" %}
    {% block content %}  
    {% endblock %}
    {% include "components/footer.njk" %}
  </div>
  {# 페이지별 body 하단 스크립트가 필요하면 여기 확장 #}
  {% block body_scripts %}
  {% endblock %}
</body>
</html>
